body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	max-width: 60em;
}

.blog-level {
	color: gray;
	font-size: medium;
}

.abstract {
	font-style: italic;
}

.signal-2:before {
    content: url('/images/signal-2.png');
}
.signal-3:before {
    content: url('/images/signal-3.png');
}
.signal-4:before {
    content: url('/images/signal-4.png');
}
.signal-5:before {
    content: url('/images/signal-5.png');
}
